{% extends 'TrashExplorer/base.html' %}
{% block content %}
    <form method="POST" action="/add_task/">{% csrf_token %}
        {{ form.as_p }}
        <input type="submit" value="Create Task" >

    </form>

    <details >
        <summary>Help</summary>
        If operation type - simple delete - enumerate targets separating them with a new line<br>
        If operation type - regex - put directory and regex<br>
        Set 0 to "Trash maximum size" to turn off size politic<br>
        Set 0 to "File storage time" to turn off time politic<br>
    </details>

{% endblock %}