{% extends 'TrashExplorer/base.html' %}
{% block content %}

	{% if object_list %}

			{% for trash_name in object_list %}

                <form action="{% url 'trash_details' trash_name.id  %}" style="display: inline;">
                        <input type="submit"  class="btn btn-primary" value={{ trash_name }}>
                </form>

                <form action="{% url 'update_trash' trash_name.id %}"  style="display: inline;">
                        <input type="submit" value= Edit >
                </form>
                <br><br>

			{% endfor %}

	{% else %}
		<h3>You don't have any trashes</h3>
	{% endif %}

{% endblock %}


