{% extends 'TrashExplorer/base.html' %}
{% block content %}



{% if object_list %}
	<ul>
		{% for task in object_list %}
			{% if not task.done %}
				<li>
					<a href= " {% url 'update_task' task.id %}"> {{ task.target }}&emsp;</a>
					<a href= " {% url 'run' task.id %}" > Run</a>&emsp;
					<a href= " {% url 'delete_task' task.id %}"> Delete</a>&emsp;
				</li>
			{% else %}
				<li>{{ task.info_message|linebreaks }}
					<a href= " {% url 'delete_task' task.id %}"   > Delete</a>&emsp;
				</li>

			{% endif %}

		{% endfor %}
	</ul>


{% else %}
	<h3>You don't have any tasks</h3>
{% endif %}
{% endblock %}