{% extends 'TrashExplorer/base.html' %}
{% block content %}



{% if object_list %}
	<ul>
		{% for task in object_list %}
			{% if not task.done %}
				<li>
					{{task}}
					<form action="{% url 'delete_task' task.id %}" method="post" style="display: inline;">{% csrf_token %}
        				<input type="submit" value="Delete">
					</form>

					<form action="{% url 'update_task' task.id %}" method="post" style="display: inline;">{% csrf_token %}
        				<input type="submit" value="Update">
					</form>

					<form action="{% url 'run' task.id %}" method="post" style="display: inline;">{% csrf_token %}
        				<input type="submit" value="Run">
					</form><br>

				</li>

			{% else %}
				<li>{{ task.info_message|linebreaks }}
					<form action="{% url 'delete_task' task.id %}" method="post" style="display: inline;">{% csrf_token %}
        				<input type="submit" value="Delete">
					</form><br>
				</li>

			{% endif %}

		{% endfor %}
	</ul>


{% else %}
	<h3>You don't have any tasks</h3>
{% endif %}
{% endblock %}/