<form action="{% url 'recover' trash_name %}" method="post">
    {% csrf_token %}
    {% for trash_path, file_path in filelist %}
    <input type="radio" name="file" value="{{ trash_path }}">
        {{ file_path }}
    <br>
    {% endfor %}
    <br>
    <input type="submit" value="Recover chosen">
</form>


<form action="{% url 'delete' trash_name %}" method="post">
    {% csrf_token %}
    <input type="text"  name="delete" value="/home/sergey/">
    <input type="submit" value="Delete">
</form>